<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>{% block titel %}Bike-Fitting{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="templates/style.css">
        <!-- all Styles are now stored in "style.css" -->
    </head>

    <body>
        <nav>
            <ol>
                <a href="/" class="left-menu-btn"> Start </a>
                <a href="/selectBike"class="left-menu-btn" class="left-btn"> Fahrrad </a>
                <a href="/measureStepLenght" class="left-menu-btn"> Messen </a>
                <a href="/inputData" class="left-menu-btn"> Daten Eingeben </a>
                <a href="/results" class="left-menu-btn"> Ergebnis </a>
                <a href="/admin" class="left-menu-btn">Admin</a>
                <a href="/accounts/login/"  class="right-menu-btn">Login</a>
                <a href="/accounts/register/"  class="right-menu-btn"> Registrieren </a>
                <a href="/accounts/logout/" class="right-menu-btn"> Logout </a>
            </ol>
        </nav>
        <header>
        <h2><b>{% block pageHeader %} {% endblock %}</b></h2>
        <hr>
        </header>
        <main>
        {% block content %}
        {% endblock %}
        <hr>
        </main>
        <footer>
		    <p>This side was made by Sebastian and Lukas!</p>
	    </footer>
    </body>

</html>