{% extends 'base.html' %}

{% block titel %} Bikefitting-inputData {% endblock %}

{% block pageHeader %} Daten eingeben {% endblock %}

{% block content %}

    <h3 style="text-align: center" > Hier kannst du deine ermittelten Daten eingeben </h3>

    <table>

        <tr>
			<th style="text-align: left"> Körpermaß </th>
			<th> Gib hier deine ermittelten Maße ein </th>
		</tr>

		<tr>  <!-- TODO: textareas must not be empty -->
			<td style="text-align: left"> Schrittlänge </td>
			<td> <textarea style="text-align: center"> Schrittlänge </textarea> </td>
		</tr>

        <tr> <!-- TODO: textareas must not be empty -->
            <td style="text-align: left"> weiteres Körpermaß </td>
			<td> <textarea style="text-align: center"> Körpermaß 2 </textarea> </td>
        </tr>

		<tr> <!-- TODO: textareas must not be empty -->
			<td style="text-align: left"> weiteres Körpermaß </td>
			<td> <textarea style="text-align: center"> Körpermaß 3 </textarea> </td>
		</tr>

	</table>

    <!-- TODO: Methodenaufruf bei Klick auf Button oder bei Laden der "results"-Seite -->
    <form method="post" style="align-content: center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit">upload</button> <!-- TODO: Button in die Mitte setzen -->
    </form>

{% endblock %}