{# Conten of the site "measureStepLenght" #}

{% extends 'base.html' %}

{% block titel %} Bikefitting-measurement {% endblock %}

{% block pageHeader %} Schrittlänge ermitteln {% endblock %}

{% block content %}
    <h3 style="text-align: center"> So ermittelst du deine Schrittlänge </h3>

    <div style="text-align: center" >
    Um deine Schrittlänge zu messen, nimm dir ein Buch oder einen ähnlichen Gegenstand mit einer geraden Kante zur Hand.
    Stelle dich ohne Schuhe mit den Beinen etwa schulterbreit mit dem Rücken an eine Wand.
    Achte darauf, dass du den Gegenstand zwischen deinen Beinen waagrecht nach oben ziehst, bis es wirklich unangenehm wird.
    Pass dabei auf, dass deine Beine am Boden bleiben. Wenn beide Füße den Boden nicht mehr berühren, ziehst du zu fest.
    Bitte nun eine zweite Person, den Abstand vom Boden bis zum Buchrücken zu messen. Notiere dir dieses Maß für den nächsten Schritt.
    </div>

    <!-- TODO: Bild in die Mitte setzen -->
    <img src="/accounts/img/schrittlaenge.jpeg">

    <!-- TODO: Button in die Mitte setzen -->
    <p> <button type = "submit"> <a href = "/inputData" > nächster Schritt </a> </button> </p>

{% endblock %}